

{% extends 'componentes/base.html' %}

{% block content %}
    <h1>Agregar Producto</h1>
    <form action="{% url 'agregar_producto' %}" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" required>

        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" required>

        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio" required>

        <label for="cantidad">Cantidad</label>
        <input type="number" name="cantidad" id="cantidad" required>

        <button type="submit" class="btn">Guardar</button>
    </form>
{% endblock %}

