
{% extends 'componentes/base.html' %}
{% block content %}
    <h1>Editar Producto</h1>
    <form action="{% url 'editar_producto' producto.id %}" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{ producto.nombre }}" required>

        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" value="{{ producto.descripcion }}" required>

        <label for="precio">Precio</label>
        <input type="text" name="precio" id="precio" value="{{ producto.precio }}" required>

        <label for="fecha_vencimiento">Fecha de Vencimiento</label>
        <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" value="{{ producto.fecha_vencimiento }}" required>

        <label for="cantidad">Cantidad</label>
        <input type="number" name="cantidad" id="cantidad" value="{{ producto.cantidad }}" required>

        <button type="submit" class="btn">Actualizar</button>
    </form>
{% endblock %}
