
{% extends 'componentes/base.html' %}
{% block content %}
    <h1>Lista de Productos</h1>
    <a href="{% url 'agregar_producto' %}" class="btn btn-primary">Agregar Producto</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning mb-1">Editar</a>
                        <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
