{% extends 'componentes/base.html' %}
{% load humanize %}

{% block content %}


<div class="card-body">
    <h2>Listado de Credito </h2>
    <a href="{% url 'creditos:agregar_credito' %}" class="btn btn-outline-success btn-sm">
        Agregar Credito
      </a>

    <table  class="table table-striped table-hover table-responsive-sm my-2">
        <tr>
            <th>Nombre</th>
            <th>Deuda</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Opciones</th>
        </tr>
        {% for credito in creditos %}
    
        <tr>
            <td>{{ credito.nombre | title }}</td>
            <td>{{ credito.deuda | intcomma  }}</td>
            <td>{{ credito.fecha | date }}</td>
            <td>{{ credito.monto | intcomma }}</td>
            <td>
                <a href="{% url 'creditos:modificar_credito' credito.id %}" class="btn btn-info btn-sm">Modificar</a>
                <a href="{% url 'creditos:eliminar_credito' credito.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
    
    
        </tr>
        {% endfor %}
    </table>

</div>



{% endblock %}