{% extends 'componentes/base.html' %}
{% block content %}
    <h1>Agregar Cliente</h1>
    <form action="{% url 'agregar_cliente' %}" method="post">
        {% csrf_token %}
        <label for="nombre_cliente">Nombre</label>
        <input type="text" name="nombre_cliente" id="nombre_cliente" required>

        <label for="apellido_cliente">Apellido</label>
        <input type="text" name="apellido_cliente" id="apellido_cliente" required>

        <label for="telefono_cliente">Telefono</label>
        <input type="text" name="telefono_cliente" id="telefono_cliente" required>

        <button type="submit" class="btn">Guardar</button>
    </form>

{% endblock %}
