<!-- listar.html -->
{% extends 'componentes/base.html' %}
{% block content %}
    <h1>Lista de Clientes</h1>
    <a href="{% url 'agregar_cliente' %}" class="btn btn-primary">Agregar Clientes</a>

    <table class="mb-2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in entity %}
                <tr>
                    <td>{{ cliente.nombre_cliente }}</td>
                    <td>{{ cliente.apellido_cliente }}</td>
                    <td>{{ cliente.telefono_cliente }}</td>
                    <td>
                        <a href="{% url 'editar_cliente' cliente.id_cliente %}" class="btn btn-warning mb-1">Editar</a>
                        <a href="{% url 'eliminar_cliente' cliente.id_cliente %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'paginator.html' %}
    </div>
{% endblock %}